@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

.Layer_1 {
    background-image: url("./Lesha\ Taneja\ &\ Mikhail\ Itani.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1080px;
    height: 1920px;
    z-index: 1;
  }
  #groom {
    font-size: 1.042rem;
    font-family: "Playfair Display";
    color: rgb(109, 17, 71);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    -webkit-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    -ms-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    position: inherit;
    top: 45%!important;
    left: 48.3%;
    z-index: 2;
  }
  .and {
    font-size: 1.042rem;
    font-family: "Playfair Display";
    color: rgb(109, 17, 71);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    -webkit-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    -ms-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    position: inherit;
    left:50%;
    top: 52%;
    z-index: 5;
  }

  #bride {
    font-size: 1.042rem;
    font-family: "Playfair Display";
    color: rgb(109, 17, 71);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    -webkit-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    -ms-transform: matrix( 7.47727891406535,0,0,7.47727891406536,0,0);
    position: inherit;
    left: 47%;
    top: 59%;
    z-index: 3;
  }
  .wishes {
    font-size: 3rem;
    font-family: "Playfair Display";
    color: rgb(109, 17, 71);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: inherit;
    left: 23%;
    top: 24%;
    width: 588px;
    height: 163px;
    z-index: 4;
  }
  